<div id="artist-content">
    <img id="background-image" src="../../images/album.png" alt="">
    
    <div id="album-headings">
        <div class="image-input-field">
            <img id="album-cover" src="../../images/album.png">
            <label for="upload-file-image" style="margin: 0 0 5px 0; color: #FFFFFF;" >Upload Artist Image:</label>
            <input id="upload-file-image" type="file" style="font-family: 'Poppins'"  oninput="updatePreview()"/>
        </div>
        <div id="album-headings-text">
            <div id="album-name">Add A New Artist</div>
            <div class="input-field">
                <label>Artist</label>
                <input id="artist-name-input"></input>
            </div>
        </div>
    </div>
    <div id="album-box" class="content-box">
        <hr>
        <div id="album-details" class="details">
            <h1>Artist Details</h1>
            <div class="input-field">
                <label>Artist Info</label>
                <input id="artist-info-input"></input>
            </div>
        </div>
        <div style="margin-top: 50px; margin-bottom: 10px">  
            <button id = "song-play-button" onclick="addArtist()">Save</button>
            <button id = "song-add-queue" onclick="navigateTo('/admin')">Cancel</button>
        </div>
    </div>
        
    </div>
</div>