 <!-- Header bar-->
 <div id="header-bar">
    <button class="header-button" type="button" onclick="navigateTo('/admin')">HOME - ADMIN</button>
    <div id="search-box" style="display: none;">
        <input type="text" id="search-box-input" placeholder="Search for Song, Album or Artist"/>
        <button id="search-button" class="icon-button"> 
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div id="account-header-box">
    </div>
</div>