 <!-- Header bar-->
 <div id="header-bar">
    <button id = "home" class="header-button" type="button">HOME - ADMIN</button>
    <div id="search-box">
        <input type="text" id="search-box-input" placeholder="Search for Song, Album or Artist"/>
        <button id="search-button" class="icon-button"> 
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div id="account-header-box">
    </div>
</div>