<body>
    <div class="center">
    <h3>LOG IN</h3>
    <form action="login" method="POST">
        <div class="field">
            <div class="label" for="user_name">Username</div>
            <input type="text" name="user_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="password">Password</div>
            <input type="password" name="password" placeholder="type" />
        </div>
        <br>
        <button class="btn" type="submit">Log In</button>
    </form>
    </div>
</body>