<body>
    <div class="center">
    <h3>SIGN UP</h3>
    <form action="signup" method="POST">
        <div class="field">
            <div class="label" for="user_name">User name</div>
            <input type="text" name="user_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="current_password">Password</div>
            <input type="password" name="current_password" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="confirm_password">Confirm password</div>
            <input type="password" name="confirm_password" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="avatar">Avatar link</div>
            <input type="text" name="avatar" placeholder="type"/>
        </div>
        <div class="field">
            <div class="label" for="full_name">Full name</div>
            <input type="text" name="full_name" placeholder="type"/>
        </div>
        <div class="field">
            <div class="label" for="birth_date">Birthday</div>
            <input type="date" name="birth_date" placeholder="type"/>
        </div>
        <div class="field">
            <div class="label" for="email">Email</div>
            <input type="text" name="email" placeholder="type"/>
        </div>
        <div class="field">
            <div class="label" for="phone_number">Phone Number</div>
            <input type="text" name="phone_number" placeholder="type"/>
        </div>
        <br>
        <button class="btn" type="submit">Sign Up</button>
    </form>
    </div>
</body>