<body>
    <div class="center">
    <h3>Edit comment</h3>
    <form action="edit" method="POST">
        <div class="field">
            <div class="label" for="comment_id">Comment id</div>
            <input type="text" name="comment_id" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="comment_content">New content</div>
            <input type="text" name="comment_content" placeholder="type"/>
        </div>
        <button class="btn" type="submit">Edit</button>
    </form>
    </div>
</body>