<img id="background-image" src="../images/eguitar.jpg">
    <div id="login-box">        
        <div class="login-header">
            Create a new Playlist
        </div>
        <form>
            <div id="playlist-name-field" class="input-field">
                <label class="label">Playlist name</label>
                <input id="playlist-name-input" type="text" name="playlist-name">
            </div>
            <div id="playlist-info-field" class="input-field">
                <label class="label">Description</label>
                <input id="playlist-info-input" type="text" name="playlist-info">
            </div>
            
        </form>
        <button id="login-submit" onclick="createPlaylist()">Create Playlist</button>
    
    </div>