<div id="album-content">
    <img id="background-image" src="../images/album.png">
    <div id="album-headings">
        <img id="album-cover" src="../images/album.png">
        <div id="album-headings-text">
            <div id="album-name">Still Still Stellar</div>
            <div id="album-artist">Hoshimachi Suisei</div>
        </div>
        
        
    </div>
    <div id="album-box" class="content-box">
        <hr>
        <div class="list-item-song">
            <img class="list-song-cover" src="../images/album.png">
            <div class="list-song-title">Stellar Stellar</div>
            <div class="list-song-artist">Hoshimachi Suisei</div>
            <div class="list-song-album">Still Still Stellar</div>
            <div class="list-song-duration">4:01</div>
            <div class="list-song-options">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="list-item-song">
            <img class="list-song-cover" src="../images/album.png">
            <div class="list-song-title">Stellar Stellar</div>
            <div class="list-song-artist">Hoshimachi Suisei</div>
            <div class="list-song-album">Still Still Stellar</div>
            <div class="list-song-duration">4:01</div>
            <div class="list-song-options">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <hr>
        <div id="album-details" class="details">
            <h1>Album Details</h1>
            <div id="album-song-number" class="details-content">
                <h1>Total songs</h1>
                <p>2</p>
            </div>
            <div id="album-duration" class="details-content">
                <h1>Duration</h1>
                <p>8:01</p>
            </div>
            <div id="album-info" class="details-content">
                <h1>Info</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, commodi?</p>
            </div>
        </div>
    </div>
</div>