<div id="artist-content">
    <img id="background-image" src="../images/album.png" alt="">
    <div id="artist-headings">
        Hoshimachi Suisei
    </div>
    <div id="artist-top-songs" class="content-box">
        <h1>Top Songs</h1>
        <hr>
        <div class="list-item-song">
            <img class="list-song-cover" src="../images/album.png">
            <div class="list-song-title">Stellar Stellar</div>
            <div class="list-song-artist">Hoshimachi Suisei</div>
            <div class="list-song-album">Still Still Stellar</div>
            <div class="list-song-duration">4:01</div>
            <div class="list-song-options">
                <i class="fas fa-ellipsis-v"></i>
            </div>
    </div>
    </div>
    <div id="artist-albums" class="content-box">
        <h1>Albums</h1> 
        <hr>
        <div class="catalogue">
            <div class="box-album">
                <img class="box-album-cover" src="../images/album.png">
                <div class="box-album-title">Stellar Stellar</div>
                <div class="box-album-artist">Hoshimachi Suisei</div> 
            </div>
        </div>
        <hr>
    </div>
    <div id="artist-info" class="content-box">
        <div id="artist-details" class="details">
            <h1>About this Arist</h1>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
       
    </div>
        
    </div>
</div>