<div id="dashboard">
    <img id="background-image" src="../images/eguitar.jpg">
    <div id="welcome-message">
        Welcome to our website!
    </div>
    <div id="library" class="content-box"> 
        <h1>Your Library</h1> 
        <a>View all</a>
        <hr>
        <div class="catalogue">
            <div class="box-playlist">
                <img class="box-playlist-cover" src="../images/album.png">
                <div class="box-playlist-title">Stellar Stellar</div>
                <div class="box-playlist-disc">Hoshimachi Suisei</div> 
            </div>
        </div>
    </div>
    <div id = "recent" class="content-box">
        <h1>Recently played</h1> 
        <hr>
        <div class="catalogue"></div>
            <div class="recent-song">
                <img class="recent-song-cover" src="../images/album.png">
                <div class="recent-song-info">
                    <div class="recent-song-title">Stellar Stellar</div>
                    <div class="recent-song-artist">Hoshimachi Suisei</div> 
                </div>
            </div>
        </div>
    </div>
    
    <div id = "favorite-artists" class="content-box">
        <h1>Your Favorite Artists</h1> 
        <a>View all</a>
        <hr>
        <div class="catalogue">
            <div class="box-artist">
                <img class="box-artist-cover" src="../images/album.png">
                <div class="box-artist-name">Hoshimachi Suisei</div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 2000px;"></div>
</div>