<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/Homepage.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <script src="https://kit.fontawesome.com/5b0c22fb92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header-bar">
        <button class="header-button" type="button">HOME</button>
        <div id="search-box">
            <input type="text" id="search-box-input" placeholder="Search for Song, Album or Artist"/>
            <button id="search-button" class="icon-button"> 
                <i class="fas fa-search"></i>
            </button>
        </div>
        <button class="header-button" id="login" >LOGIN</button>
        <button class="header-button" id="signup">SIGN UP</button>
    </div>

    <div id="welcome-message">
        Welcome to our website!
    </div>
    <div id="player-bar">
        <div id="song-info">
            <img id="album-cover">
            <div id="song-textinfo">
                <p id="songname"></p>
                <p id="artist"></p>
            </div>
        </div>
        <div id="media-controls">
            <div id="media-controls-buttons">
                <button id="random" class="icon-button">
                    <i class="fas fa-random"></i>
                </button>
                <button id="prev" class="icon-button">
                    <i class="fas fa-step-backward"></i>
                </button>
                <button id="play-pause" class="icon-button">
                    <i id="play-toggle" class="fas fa-play-circle" ></i>
                </button>
                <button id="next" class="icon-button">
                    <i class="fas fa-step-forward"></i>
                </button>
                <button id="loop" class="icon-button">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>
            <div progressbar id="progress-bar">
                <span id="current-time"></span>
                <input type="range" id="progress" value="0"></input>
                <span id=song-time></span>
            </div>
            <audio id="audio" src=""></audio>
        </div>
        <div id="volume-controls">
            <button id="volume-button" class="icon-button">
                <i id="volume-toggle" class="fas fa-volume-up"></i>
            </button>
            <input type="range" id="volume" value="100"></input>
        </div>
    </div>
    <div style="width: 100%; height: 2000px;"></div>
</body>
<script src="./scripts/Homepage.js"></script>
</html>