<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/styles.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <script src="https://kit.fontawesome.com/5b0c22fb92.js" crossorigin="anonymous"></script>
</head>

<body>
    <img id="background-image" src="../images/eguitar.jpg">
    <div id="login-box">        
        <div class="login-header">
            Login to your account
        </div>
        <form action="login" method="post">
            <div id="username-field" class="input-field">
                <label class="label">Username</label>
                <input id="username-input" type="text" name="Username">
            </div>
            <div id="password-field" class="input-field">
                <label class="label">Password</label>
                <input id="password-input" type="password" name="password">
            </div>
            
        </form>
        <button id="login-submit">Login</button>
        <hr style="width: 100%;">
        <div class="login-header">
            Don't have an account?
        </div>
        <button id="signup-redirect" onclick = "redirectTo('/signup')">
            Sign up
        </button>
    </div>
    <script src="/scripts/login.js"></script>
</body>

</html>