<div id="queue">
    <h1>Now Playing</h1>
    <hr>
    <div class="list-item-song">
        <img class="list-song-cover" src="../images/album.png">
        <div class="list-song-title">Stellar Stellar</div>
        <div class="list-song-artist">Hoshimachi Suisei</div>
        <div class="list-song-album">Still Still Stellar</div>
        <div class="list-song-duration">4:01</div>
        <div class="list-song-options">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>
</div>