<div>
    <img id="background-image" src="../images/eguitar.jpg" alt="" >
    <div id="search-result-box" class="content-box">
        <h1>
            Your Search Result:
        </h1>
        <div id="tab-bar">
            <button class="tab-bar-button" onclick="openTab(event, 'Songs')">Songs</button>
            <button class="tab-bar-button" onclick="openTab(event, 'Albums')">Albums</button>
            <button class="tab-bar-button" onclick="openTab(event, 'Artists')">Artists</button>
        </div>
        <hr>
        <div id="Songs-result" class="tab">
            <div class="list-item-song">
                <img class="list-song-cover" src="../images/album.png">
                <div class="list-song-title">Stellar Stellar</div>
                <div class="list-song-artist">Hoshimachi Suisei</div>
                <div class="list-song-album">Still Still Stellar</div>
                <div class="list-song-duration">4:01</div>
                <div class="list-song-options">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
        </div>
        <div id="Albums-result" class="tab">
            <div class="catalogue">
                <div class="box-album">
                    <img class="box-album-cover" src="../images/album.png">
                    <div class="box-album-title">Stellar Stellar</div>
                    <div class="box-album-artist">Hoshimachi Suisei</div> 
                </div>
            </div>
        </div>
        <div id="Artists-result" class="tab">
            <div class="catalogue">
                <div class="favorite-artist">
                    <img class="favorite-artist-cover" src="../images/album.png">
                    <div class="favorite-artist-name">Hoshimachi Suisei</div>
                </div>
            </div>
        </div>
    </div>
</div>