<div>
    <img id="background-image" src="../images/eguitar.jpg" alt="" >
    <div id="search-result-box" class="content-box">
        <h1>
            Your Search Result:
        </h1>
        <div id="tab-bar">
            <button class="tab-bar-button" onclick="openTab(event, 'Songs')">Songs</button>
            <button class="tab-bar-button" onclick="openTab(event, 'Albums')">Albums</button>
            <button class="tab-bar-button" onclick="openTab(event, 'Artists')">Artists</button>
        </div>
        <hr>
        <div id="Songs-result" class="tab">
        </div>
        <div id="Albums-result" class="tab">
            <div id="Albums-result-content" class="catalogue">
               
            </div>
        </div>
        <div id="Artists-result" class="tab">
            <div id="Artists-result-content" class="catalogue">
               
            </div>
        </div>
    </div>
</div>