<div id="song-content">
    <img id="background-image" src="../images/album.png">
    <div id="song-box" class="content-box">
        <img id="song-cover" src="../images/album.png">
        <div id="song-details">
            <div id="song-title">Stellar Stellar</div>
            <div id="song-artist">Hoshimachi Suisei</div>
            <hr>
            <h1>Song details:</h1>
            <div id="song-album">
                <h1>Album</h1>
                <p>Still Still Stellar</p>
            </div>
            <div id="song-rating">
                <h1>Rating</h1>
                <p>4.89/5</p>
            </div>
            <div id="song-category">
                <h1>Category</h1>
                <p>Electronic</p>
            </div>
            <div id="song-details-info">
                <h1>Info</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt error vitae in, neque, nemo perferendis veritatis ullam quo aliquid cupiditate corporis eum laborum exercitationem fugit quae obcaecati. Fugiat, quibusdam?</p>
            </div>
            <hr>
        </div>
    </div>
    <div id="comment-section" class="content-box">
        <h1>Comments</h1>
        <hr>
        <div class="comment">
            <img class="comment-user-avatar" src="../images/eguitar.jpg">
            <div class="comment-text">
                <h1>User1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum doloribus esse aperiam possimus labore autem eligendi ratione libero! Sapiente aliquid dolorum, qui, vel debitis pariatur quam perspiciatis ipsum accusamus suscipit sit. Eum, explicabo labore. Neque sequi, mollitia perferendis perspiciatis voluptates qui exercitationem molestias quisquam temporibus! Aspernatur dolorem quod repellat at.
                </p>
            </div>
        </div>
        <div class="comment">
            <img class="comment-user-avatar" src="../images/eguitar.jpg">
            <div class="comment-text">
                <h1>User2</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum doloribus esse aperiam possimus labore autem eligendi ratione libero! Sapiente aliquid dolorum, qui, vel debitis pariatur quam perspiciatis ipsum accusamus suscipit sit. Eum, explicabo labore. Neque sequi, mollitia perferendis perspiciatis voluptates qui exercitationem molestias quisquam temporibus! Aspernatur dolorem quod repellat at.
                </p>
            </div>
        </div>
        <hr>
        <input type="text" id="comment-input" placeholder="Add a comment"/>
        <hr>
    </div>
</div>
