<div id="song-content">
    <img id="background-image" src="../images/album.png">
    <div id="song-box" class="content-box">
        <img id="song-cover" src="../images/album.png">
        <div id="song-details" class="details">
            <div id="song-title">Stellar Stellar</div>
            <div id="song-artist">Hoshimachi Suisei</div>
            <hr>
            <h1>Song details:</h1>
            <div  class="details-content">
                <h1>Album</h1>
                <p id="song-album">Still Still Stellar</p>
            </div>
            <div  class="details-content">
                <h1>Rating</h1>
                <p id="song-rating">4.89/5</p>
            </div>
            <div  class="details-content">
                <h1>Category</h1>
                <p id="song-category">Electronic</p>
            </div>
            <div  class="details-content">
                <h1>Info</h1>
                <p id="song-details-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt error vitae in, neque, nemo perferendis veritatis ullam quo aliquid cupiditate corporis eum laborum exercitationem fugit quae obcaecati. Fugiat, quibusdam?</p>
            </div>
            <hr>
        </div>
    </div>
    <div id="comment-section" class="content-box">
        <h1>Comments</h1>
        <hr>
        <div id="comments">
            
        </div>
        <hr>
        <input type="text" id="comment-input" placeholder="Add a comment"/>
        <button id="comment-cancel">
              CANCEL
        </button>
        <button type="submit" id="comment-button">
              COMMENT
        </button>
        <hr>
    </div>
</div>
