<body>
    <div class="center">
    <h3>Add new account</h3>
    <form action="signup" method="POST">
        <div class="field">
            <div class="label" for="user_name">Username</div>
            <input type="text" name="user_name" placeholder="type" />
        </div>    
        <div class="field">
        <div class="label" for="current_password">Password</div>
        <input type="password" name="current_password" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="avatar">Avatar</div>
            <input type="text" name="avatar" placeholder="type"/>
        </div>
        <div class="field">
            <div class="label" for="fullname">Fullname</div>
            <input type="text" name="fullname" placeholder="type"/>
        </div>
        <div class="field">
            <div class="label" for="email">Email</div>
            <input type="text" name="email" placeholder="type"/>
        </div>
        <div class="field">
            <div class="label" for="phone_number">Phone_number</div>
            <input type="text" name="phone_number" placeholder="type"/>
        </div>
        <br>
        <button class="btn" type="submit">Add</button>
    </form>
    </div>
</body>