<body>
    <div class="center">
    <h3>New playlist</h3>
    <form action="add" method="POST">
        <div class="field">
            <div class="label" for="playlist_name">Playlist name</div>
            <input type="text" name="playlist_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="playlist_image">Playlist image link</div>
            <input type="text" name="playlist_image" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="playlist_info">Playlist info</div>
            <input type="text" name="playlist_info" placeholder="type" />
        </div>
        <br>
        <button class="btn" type="submit">Create</button>
    </form>
    </div>
</body>