<body>
    <div class="center">
    <h3>SEARCH</h3>
    <form action="search" method="POST">
        <div class="field">
            <div class="label" for="playlist_name">Playlist Name</div>
            <input type="text" name="playlist_name" placeholder="type" />
        </div>    
        <br>
        <button class="btn" type="submit">Search</button>
    </form>
    </div>
</body>