<body>
    <div class="center">
    <h3>Update playlist</h3>
    <form action="update" method="POST">
        <div class="field">
            <div class="label" for="playlist_id">Playlist id</div>
            <input type="text" name="playlist_id" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="playlist_name">New playlist name</div>
            <input type="text" name="playlist_name" placeholder="type" />
        </div>  
        <div class="field">
            <div class="label" for="playlist_info">Playlist info</div>
            <input type="text" name="playlist_info" placeholder="type" />
        </div>
        <br>
        <button class="btn" type="submit">Update</button>
    </form>
    </div>
</body>