<body>
    <div class="center">
    <h3>DELETE RATING BY ID</h3>
    <form action="delete" method="POST">
        <div class="field">
            <div class="label" for="rating_id">Rating id</div>
            <input type="text" name="rating_id" placeholder="type" />
        </div>
        <br>
        <button class="btn" type="submit">Delete</button>
    </form>
    </div>
</body>