<body>
    <div class="center">
    <h3>Get all rating of song</h3>
    <form action="getallratingsofsong" method="POST">
        <div class="field">
            <div class="label" for="song_id">Song Id</div>
            <input type="text" name="song_id" placeholder="type" />
        </div>
        <button class="btn" type="submit">Get</button>
    </form>
    </div>
</body>