<body>
    <div class="center">
    <h3>New song</h3>
    <form action="add" method="POST">
        <div class="field">
            <div class="label" for="song_name">Song Name</div>
            <input type="text" name="song_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="artist_name">Artist Name</div>
            <input type="text" name="artist_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="album_name">Album Name</div>
            <input type="text" name="album_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="song_image">Song image link</div>
            <input type="text" name="song_image" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="song_info">Song info</div>
            <input type="text" name="song_info" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="song_link">Song link</div>
            <input type="text" name="song_link" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="duration">Duration</div>
            <input type="text" name="duration" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="category">Category</div>
            <input type="text" name="category" placeholder="type" />
        </div>
        <br>
        <button class="btn" type="submit">Create</button>
    </form>
    </div>
</body>