<body>
    <div class="center">
    <h3>Get album info by ID</h3>
    <form action="get" method="POST">
        <div class="field">
            <div class="label" for="album_id">Album id</div>
            <input type="text" name="album_id" placeholder="type" />
        </div>
        <br>
        <button class="btn" type="submit">Get</button>
    </form>
    </div>
</body>