<body>
    <div class="center">
    <h3>SEARCH</h3>
    <form action="search" method="POST">
        <div class="field">
            <div class="label" for="key_word">Album name</div>
            <input type="text" name="key_word" placeholder="type" />
        </div>   
        <br>
        <button class="btn" type="submit">Search</button>
    </form>
    </div>
</body>