<body>
    <div class="center">
    <h3>SEARCH</h3>
    <form action="search" method="POST">
        <div class="field">
            <div class="label" for="album_name">Album Name</div>
            <input type="text" name="album_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="artist_name">Artist Name</div>
            <input type="text" name="artist_name" placeholder="type" />
        </div>    
        <br>
        <button class="btn" type="submit">Search</button>
    </form>
    </div>
</body>