<body>
    <div class="center">
    <h3>Update album</h3>
    <form action="update" method="POST">
        <div class="field">
            <div class="label" for="album_id">Album id</div>
            <input type="text" name="album_id" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="album_name">Album name</div>
            <input type="text" name="album_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="artist_name">Artist name</div>
            <input type="text" name="artist_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="album_image">Album image link</div>
            <input type="text" name="album_image" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="album_info">Album info</div>
            <input type="text" name="album_info" placeholder="type" />
        </div>
        <br>
        <button class="btn" type="submit">Update</button>
    </form>
    </div>
</body>