@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    background-color: #040505;
}

#page-content{
    height: fit-content;
    width: 100%;
    display: block;
    margin-top: 100px;
    color: white;
    /*background-image: linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0.7) 85%, rgba(255,255,255,0) 100%), url("../images/eguitar.jpg");
    background-repeat: no-repeat;
    background-size:    contain;
    object-fit: cover;
    */
}

#welcome-message {
    position: relative;
    top: 200px;
    font-family: 'Poppins';
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
}

#header-bar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #040505;
    box-shadow: 0px 5px 5px #000000;
    z-index: 1;
}

.header-button{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto';
    width: 10%;
    height: 100%;
}
.header-button:hover{
    color: #4AB1BB;
}

#login, #signup{
    float: right;
}
#search-box{
    display: flex;
    width: 40%;
    height: 40px;
    margin: auto;
    float: left;
    background-color: transparent;
}
#search-box > input {
    margin: auto;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #101214;
    color: #FFFFFF;
}
#search-button {
    display: inline-flex;
    margin: auto;
    margin-left: 10px;
    font-size: 25px;
}
.icon-button {
    border: none;
    background: transparent;
    color: white;
    opacity: 0.7;
}
.icon-button:hover{
    opacity: 1;
}

.fa-search {
    margin: auto;
}
#player-bar {
    display: flex;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #090A0B;
    box-shadow: 0px -5px 5px #000000;
    z-index: 1;
}
#media-controls{
    display: block;
    margin-left: 15%;
    margin-right: 20%;
    width: 35%;
    height: 100%;
}
#media-controls-buttons {
    margin-top: 10px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}


#prev, #next{
    font-size: 25px;
}

#random, #loop{
    font-size: 20px;
}

#play-pause{
    font-size: 50px;
}

input[type=range]{
    -webkit-appearance: none;  /* Override default CSS styles */
    border-radius: 5px;
    background: #244659;
    opacity: 0.8;
    cursor: pointer;
}

input[type=range]:hover{
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border-radius: 50%; 
    background: #FFFFFF;
    visibility: hidden;
}
input[type=range]:hover::-webkit-slider-thumb{
    visibility: visible;
}
#progress-bar{
    display: flex;
}

#current-time, #song-time{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto';
    color: #FFFFFF;
    width: 10%;
}
#progress{
    height: 6px;
    width: 100%;
    margin: auto;
}
#progress::-webkit-slider-thumb{
    width: 15px;
    height: 15px;
}

#volume-controls{
    display: flex;
    float: right;
    width: 15%;
    height: 100%;
    
}
#volume-button, #queue-button{
    font-size: 20px;
    max-width: 10%;
    margin-left: 5px;
    margin-right: 5px;
}

#volume{
    background: #4AB1BB;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    height: 6px;
    width: 60%;
}
#volume::-webkit-slider-thumb{
    width: 15px;
    height: 15px;
}
#song-info{
    display: flex;
    width: 20%;
    height: 100%;
}

#album-cover{
    max-height: 70%;
    min-height: 70%;
    aspect-ratio: 1/1;
    border: none;
    background-color: transparent;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#song-textinfo{
    display: block;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

#songname{
    color: white;
    font-family: Poppins;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:auto;
}

#artist{
    color: #797979;
    font-family: Poppins;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:auto;
}

#dashboard {
    width: 100%;
    display: block;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0.7) 85%, rgba(255,255,255,0) 100%), url("../images/eguitar.jpg");
    background-repeat: no-repeat;
    background-size:    contain;
    object-fit: cover;
}