<body>
    <div class="center">
    <h3>Add new artist favorite</h3>
    <form action="addfavor" method="POST">
        <div class="field">
            <div class="label" for="artist_id">Artist id</div>
            <input type="text" name="artist_id" placeholder="type" />
        </div>    
        <br>
        <button class="btn" type="submit">Add</button>
    </form>
    </div>
</body>