<body>
    <div class="center">
    <h3>New artist</h3>
    <form action="add" method="POST">
        <div class="field">
            <div class="label" for="artist_name">Artist name</div>
            <input type="text" name="artist_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="artist_image">Artist image link</div>
            <input type="text" name="artist_image" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="birth_date">Artist birthday</div>
            <input type="date" name="birth_date" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="artist_info">Info</div>
            <input type="text" name="artist_info" placeholder="type" />
        </div>
        <br>
        <button class="btn" type="submit">Create</button>
    </form>
    </div>
</body>