<body>
    <div class="center">
    <h3>Update artist</h3>
    <form action="update" method="POST">
        <div class="field">
            <div class="label" for="artist_id">Artist id</div>
            <input type="text" name="artist_id" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="artist_name">New artist name</div>
            <input type="text" name="artist_name" placeholder="type" />
        </div>    
        <div class="field">
            <div class="label" for="artist_image">New artist image link</div>
            <input type="text" name="artist_image" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="birth_date">New birthday</div>
            <input type="date" name="birth_date" placeholder="type" />
        </div>
        <div class="field">
            <div class="label" for="artist_info">Artist info</div>
            <input type="text" name="artist_info" placeholder="type" />
        </div>
        <br>
        <button class="btn" type="submit">Update</button>
    </form>
    </div>
</body>